Source: ZiniTevi
Section: Movie Apps
Maintainer: ZiniTevi
Version: 1.4.3
Homepage: https://zinitevi.github.io/movieapps/
Package: jb.zini.tevi
Name: ZiniTevi
Architecture: iphoneos-arm
Author: ZiniTevi
Description: Stream movies & series for Jailbreak
